include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include audit_logging *.py
recursive-include audit_logging *.md
recursive-include audit_logging *.txt
recursive-include audit_logging *.json 