include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include django_activity_audit *.py
recursive-include django_activity_audit *.md
recursive-include django_activity_audit *.txt
recursive-include django_activity_audit *.json 